.main-message-box {
    position: relative;
    height: 14.0625rem;
    width: 100%;  
    padding: 2.5rem 4.4375rem 2.5rem 4.4375rem;
    box-sizing: border-box;      
}

textarea {
    height: 9.0625rem;
    width: 100%;
    border-radius: 1.25rem;
    padding: 1.25rem;
    border: 1px solid #ADB0D9;
    box-sizing: border-box; 
    font-family: 'nunito';
    font-size: 1.125rem;
    font-weight: 400;
}

.toolbar {
    position: absolute;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 5.3125rem;
    width: calc(100% - 11.375rem);
    height: 2.5rem;
    z-index: 5;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}