<div class="main-message-box" [ngStyle]="{ padding: mainMessageBoxPadding }">
  <div class="toolbar" [ngStyle]="{ width: toolbarWidth }">
    <div class="icon-container" style="position: relative">
      <!-- Emoji‑Icon -->
      <img
        (click)="toggleEmojiPicker()"
        class="reaction-icon"
        src="/icons/add_reaction.png"
        alt="smiley icon"
      />

      <!-- @‑Erwähnungen -->
      <img
        (click)="showUsers()"
        class="alternate_email-icon"
        src="/icons/alternate_email.png"
        alt="@ icon"
      />

      <ng-container *ngIf="showUserList">
        <ul *ngIf="users$ | async as users" class="user-list-container">
          <li
            *ngFor="let user of users"
            class="user-list-item"
            (click)="selectUser(user)"
          >
            <span class="user-name">{{ user.name }}</span>
          </li>
        </ul>
      </ng-container>

      <!-- Emoji‑Picker -->
      <div *ngIf="showEmojiPicker" class="emoji-picker-container">
        <emoji-picker
          (emoji-click)="onEmojiClick($event)"
          show-search
          show-preview
          theme="light"
        >
        </emoji-picker>
      </div>
    </div>

    <!-- Senden‑Button -->
    <img
      (click)="onSendClick()"
      class="send-icon"
      src="/icons/send_icon.png"
      alt="submit icon"
    />
  </div>

  <!-- Eingabefeld -->
  <textarea
    (input)="onTag($event)"
    #textArea
    [(ngModel)]="textInput"
    [placeholder]="placeholder"
  >
  </textarea>

  <!-- Dropdown für @‑Mentions -->
  <ul
    *ngIf="showUserListText && filteredUsers.length > 0"
    (click)="onListClick($event)"
    class="tag-user-dropdown"
    [ngStyle]="{
      position: 'absolute',
      'left.px': cursorX + 16,
      'top.px': cursorY - 138
    }"
  >
    <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
      &#64;{{ user.name }}
    </li>
  </ul>
</div>
