<div class="message-box">
  <div class="header">
    <div class="df_fd_r_aic main-content">
      <img
        *ngIf="selectedUser?.picture"
        class="user-avatar"
        [src]="selectedUser.picture"
        alt="Avatar"
      />
      <div class="user-name">{{ selectedUser?.name }}</div>
    </div>
  </div>

  <div class="content">
    <ng-container *ngFor="let timeObj of directMessagesTime; let i = index">
      <div
        *ngIf="shouldShowDate(timeObj.timestamp, i)"
        class="date-container df_jcc_aic"
      >
        <span>{{ timeObj.timestamp | date : "d. MMMM" }}</span>
      </div>

      <div class="message df_fd_r_aic" *ngIf="directMessages[i] as msg">
        <img class="avatar-chat-img" [src]="msg.senderId.picture" alt="" />

        <div class="message-body">
          <div class="sendername-time-container df_fd_r_aic_jcsb">
            <span
              ><b>{{ msg.senderId.name }}</b></span
            >
            <span class="time">{{ timeObj.timestamp | date : "HH:mm" }}</span>
          </div>

          <!-- EDIT-MODE -->
          <div *ngIf="editingMessageId === msg.id; else viewMode">
            <input
              [(ngModel)]="editingText"
              class="edit-input"
              placeholder="Neue Nachricht..."
            />
            <div class="edit-buttons">
              <button (click)="saveEdit(msg)">Speichern</button>
              <button (click)="cancelEdit()">Abbrechen</button>
            </div>
          </div>

          <!-- VIEW-MODE -->
          <ng-template #viewMode>
            <div
              class="sender-message-box"
              [ngClass]="{ 'own-message': msg.senderId.id === currentUser?.id }"
            >
              {{ msg.text }}
            </div>
          </ng-template>

          <!-- Reactions -->
          <div class="reactions" *ngIf="msg.reactions.length">
            <span class="reaction" *ngFor="let r of msg.reactions">
              {{ r }}
            </span>
          </div>
        </div>

        <!-- Action-Menü -->
        <div class="action-menu">
          <!-- Edit (nur eigene Nachrichten) -->
          <img
            *ngIf="msg.senderId.id === currentUser?.id"
            src="/icons/edit_icon.png"
            alt="Edit"
            (click)="editMessage(msg)"
          />

          <!-- Add Reaction -->
          <img
            src="/icons/actionMenu_AddReaction.png"
            alt="Add Reaction"
            (click)="toggleReactionPicker(msg)"
          />

          <!-- Thread / Answer -->
          <img
            src="/icons/actionMenu_Answer.png"
            alt="Open Thread"
            (click)="toggleThread(msg)"
          />

          <!-- Weitere Optionen (Dots ganz rechts) -->
          <img
            src="/icons/actionMenu_Dots.png"
            alt="More"
            (click)="openMoreOptions(msg)"
          />
        </div>

        <!-- Emoji-Picker -->
        <div
          class="emoji-picker-container"
          *ngIf="reactionPickerMessageId === msg.id"
        >
          <emoji-picker
            (emoji-click)="onReactionSelected($event, msg)"
            show-search
            show-preview
            theme="light"
          ></emoji-picker>
        </div>
      </div>
    </ng-container>
  </div>

  <app-textarea
    [textInput]="textInput"
    [mainMessageBoxPadding]="'2.5rem 2.8125rem 2.5rem 2.8125rem'"
    [toolbarWidth]="'calc(100% - 8.125rem)'"
    placeholder="Nachricht an {{ selectedUser?.name }}"
  >
  </app-textarea>
</div>
