<div class="message-box">
  <!-- Header: Zeigt den ausgewählten Benutzer -->
  <div class="header">
    <div class="df_fd_r_aic main-content">
      <img
        *ngIf="selectedUser?.picture"
        class="user-avatar"
        [src]="selectedUser?.picture"
        alt="Avatar"
      />
      <div class="user-name">{{ selectedUser?.name }}</div>
    </div>
  </div>

  <!-- Chat-Container: Enthält den scrollbaren Nachrichtenbereich und den fixierten Eingabebereich -->
  <div class="chat-container">
    <!-- Nachrichtenbereich: scrollt, wenn zu viele Nachrichten vorliegen -->
    <div class="messages">
      <!-- Beispiel: Direktnachrichten -->
      @for (message of directMessages; track message; let index = $index) {
      <div class="message df_fd_r_aic">
        <img class="avatar-chat-img" [src]="currentUser?.picture" alt="" />
        <div class="df_fd_c">
          <span
            ><b>{{ currentUser?.name }}</b></span
          >
          <span
            class="sender"
            [ngClass]="{ 'own-message': message.senderId === currentUser?.id }"
          >
            {{ message.text }}
          </span>
        </div>
      </div>
      }
    </div>

    <!-- Eingabebereich: Fixiert am unteren Rand -->
    <div class="input-area">
      <app-textarea
        [textInput]="textInput"
        [mainMessageBoxPadding]="'2.5rem 2.8125rem 2.5rem 2.8125rem'"
        [toolbarWidth]="'calc(100% - 8.125rem)'"
        placeholder="Nachricht an {{ selectedUser?.name }}"
      >
      </app-textarea>
    </div>
  </div>
</div>
