<div class="df_fd_c message-box">
    <div class="df_fd_r_jcsb header">
        <div class="df_fd_r_aic channel-container">
            <div class="df_fd_r_aic hash-channel">
                <img class="hash-icon" src="/icons/tag_better_quality.png" alt="hash logo">
                <h1>{{ dataService.channel[dataService.idChannel] }}</h1>
            </div>
            <img class="arrow-down-icon" src="/icons/arrow_down.png" alt="arrow down">
        </div>
    </div>
    <div class="df_fd_jce content"></div>
    <div class="main-message-box">
        <div class="df_fd_r_jcsb toolbar">
            <div class="df_fd_r">
                <img class="icon" src="/icons/add_reaction.png" alt="smiley icon">
                <img class="icon" src="/icons/alternate_email.png" alt="@ icon">
            </div>
            <img class="icon" src="/icons/send_icon.png" alt="submit icon">
        </div>
        <textarea placeholder="Starte eine neue Nachricht"></textarea>
    </div>
</div>
