<div class="message-box">
  <div class="header">
    <h2>{{ currentChannelName }}</h2>

    <!-- Avatare + "+N" + Plus-Icon, Container rechts -->
    <div class="members-and-plus">
      <ng-container
        *ngFor="let member of currentChannel?.members | slice : 0 : 3"
      >
        <!-- Falls du eine Funktion verwendest, die den Pfad generiert, nutze:
             [src]="getUserImagePath(member)" -->
        <img [src]="member.picture" [alt]="member.name" class="member-icon" />
      </ng-container>

      <div class="extra" *ngIf="(currentChannel?.members?.length ?? 0) > 3">
        +{{ (currentChannel?.members?.length ?? 0) - 3 }}
      </div>

      <img
        src="/icons/add_user.png"
        alt="Add user"
        class="add-user-icon"
        (click)="openAddUserDialog()"
      />
    </div>
  </div>

  <div class="content">
    <p>Hier können deine Nachrichten sein.</p>
    <div *ngFor="let msg of messages">
      {{ msg.text }}
    </div>
  </div>

  <div class="textarea-area">
    <app-textarea [textInput]="textInput"></app-textarea>
  </div>
</div>
