<div class="drop-menu-overlay">
    <div class="line-container" *ngIf="toggleService.isMobile">
    <div class="gray-line"></div>
    </div>
    <div class="df_jcc_aic cp">
        <img *ngIf="toggleService.isMobile" src="img/account_circle.png" alt="Icon account_circle">
        <span (click)="openDialog($event)" mat-menu-item>Profil</span>
    </div>
    <div class="df_jcc_aic cp">
        <img *ngIf="toggleService.isMobile" src="img/logout.png" alt="Icon log out">
        <span mat-menu-item (click)="logOutUser()">Log out</span>
    </div>
</div>
