<main>
  <div class="top-area">
    <h2>Dein Profil bearbeiten</h2>
    <div mat-dialog-close class="close-x-wrapper"> </div>
  </div>

  <div>
    <img (click)="openAvatarImgs()" src="{{ logedUser.picture }}" alt="" />
  </div>

  <div>
    <img src="./icons/user_icon.svg" alt="Profil Icon" />
    <h3>Vollständiger Name</h3>
  </div>
  <input type="text" placeholder="{{ logedUser.name }}" [(ngModel)]="newName" />
  <div class="btns-row">
    <button mat-dialog-close>Abbrechen</button>
    <button (click)="saveChanges()">Speichern</button>
  </div>
</main>
