<app-toggle-sidebar-devspace *ngIf="!isMobile"></app-toggle-sidebar-devspace>

<div *ngIf="!isMobile" class="screen bg-color">
  <div class="fullhd">
    <app-header></app-header>
    <div class="main-content">
      <app-sidebar-devspace class="sidebar-container"></app-sidebar-devspace>
      <app-new-message class="component-box" *ngIf="dataService.newMessageBoxIsVisible"></app-new-message>
      <app-direct-message class="component-box" *ngIf="dataService.directMessageBoxIsVisible "></app-direct-message>
      <app-channel-message class="component-box" *ngIf="dataService.channelMessageBoxIsVisible"></app-channel-message>
      <app-sidebar-thread class="sidebar-container"></app-sidebar-thread>
    </div>
  </div>
</div>

<div *ngIf="isMobile" class="screen bg-color ">
  <div [ngSwitch]="toggleService.mobileView" class="fullhd">
    <app-header></app-header>
    <div class="main-content">
      <app-sidebar-devspace *ngSwitchCase="'sidebar'" class="sidebar-container"></app-sidebar-devspace>
      <app-new-message class="component-box" *ngSwitchCase="'newMessage'"></app-new-message>
      <app-direct-message *ngSwitchCase="'direct'" class="component-box"></app-direct-message>
      <app-channel-message class="component-box" *ngSwitchCase="'channels'"></app-channel-message>
      <app-sidebar-thread *ngSwitchCase="'threads'" class="sidebar-container"></app-sidebar-thread>
    </div>
  </div>
</div>