<app-toggle-sidebar-devspace></app-toggle-sidebar-devspace>

<div class="screen bg-color">
  <div class="fullhd">
    <app-header></app-header>
    <div class="main-content">
      <app-sidebar-devspace [ngClass]="{'hidden': !toggleService.showSidebar}" class="sidebar-container"></app-sidebar-devspace>
      <app-new-message class="component-box" *ngIf="dataService.newMessageBoxIsVisible"></app-new-message>
      <app-direct-message class="component-box" *ngIf="dataService.directMessageBoxIsVisible "></app-direct-message>
      <app-channel-message class="component-box" *ngIf="dataService.channelMessageBoxIsVisible"></app-channel-message>
      <app-sidebar-thread class="sidebar-container"></app-sidebar-thread>
    </div>
  </div>
</div>