<app-toggle-sidebar-devspace></app-toggle-sidebar-devspace>

<div class="df_jcc_aic screen bg-color">
  <div class="df_fd_c fullhd">
      <app-header></app-header>
      <div class="df_fd_r main-content">
        <app-sidebar-devspace></app-sidebar-devspace>
        <app-new-message class="message-box" *ngIf="dataService.newMessageBoxIsVisible"></app-new-message>
        <app-direct-message class="message-box" *ngIf="dataService.directMessageBoxIsVisible"></app-direct-message>
        <app-channel-message class="message-box" *ngIf="dataService.channelMessageBoxIsVisible"></app-channel-message>
        <app-sidebar-thread></app-sidebar-thread>
    </div>
  </div>
</div>
