@import "../../../styles.scss";
@import "../../../mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  > h2 {
    justify-self: center;
  }
}

.singleUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin: 8px;
  padding: 8px;
  border-radius: 2rem;

  &:hover {
    background-color: $lightPurple;
    cursor: pointer;
  }
}

.nameAndPic {
  gap: 16px;
  display: flex;
  align-items: center;
  > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  > span {
    font-family: "nunito";
    font-size: 1rem;
  }
}

button {
  margin: 8px;
  align-self: end;
}
