<div class="df_fd_c overlay-content">
    <div class="df_fd_r_aic_jcsb header">
        <div class="df_fd_r_aic channel">
            <img class="icon-size" src="/icons/tag_better_quality.png" alt="Tag">
            <h2>{{ channelName }}</h2>
        </div>
        <div class="df_jcc_aic close-container">
            <img mat-dialog-close class="close-icon" src="/icons/close_x_icon.svg" alt="close icon">
        </div>
    </div>


<div class="channel-name">
    <div class="df_fd_r_aic_jcsb channel-name-container">
        <h3>Channel-Name</h3>
        <a href="">Bearbeiten</a>
    </div>
    <div class="df_fd_r channel-name-description">
        <img class="icon" src="/icons/tag_better_quality.png" alt="Tag">
        <span>{{ channelName }}</span>
    </div>
</div>

<div class="description">
    <div class="df_fd_r_aic_jcsb description-container">
        <h3>Beschreibung</h3>
        <a href="">Bearbeiten</a>
    </div>

    <span>Hier die Channel beschreibung</span>

    <span>Erstellt von</span>

    <span>Hier den Nutzer</span>
</div>

    <div class="button-position">
        <button mat-dialog-close (click)="editChannel()">Channel verlassen</button>
    </div>
</div>