<div class="df_fd_c overlay-content">
    <div class="df_fd_r_aic_jcsb header">
        <div class="df_fd_r_aic channel">
            <img class="icon-size" src="/icons/tag_better_quality.png" alt="Tag">
            <h2>{{ currentChannel?.channelName }}</h2>
        </div>
        <div class="df_jcc_aic close-container">
            <img mat-dialog-close class="close-icon" src="/icons/close_x_icon.svg" alt="close icon">
        </div>
    </div>
    <div class="input-wrapper">
        <input class="font-input input-channel-name" id="placeholder" #channelName="ngModel" [(ngModel)]="data.channelName" [disabled]="!openEditChannel" placeholder="" 
        [ngClass]="startPosition ? 'input-channel-name' : (openEditChannel ? 'animation-inputfield-in' : 'animation-inputfield-out')">
            <!-- <label for="placeholder" [ngClass]="startPosition ? 'label' : (openEditChannel ? 'animation-label-in' : 'animation-label-out')">
            {{ channels[0].channelName }}</label>      -->
            <img class="input-icon" src="/icons/tag_better_quality.png"
            [ngClass]="startPosition ? 'input-icon' : (openEditChannel ? 'input-icon-animation-in' : 'input-icon-animation-out')">
        <div class="df_fd_r_aic_jcsb edit-channel-name" 
        [ngClass]="startPosition ? 'edit-channel-name' : (openEditChannel ? 'animation-edit-channel-in' : 'animation-edit-channel-out')">
            <h3>Channel-Name</h3>
            <div class="df_jcc_aic to-work-container">
                <a href="" (click)="editChannelName($event)">{{ openEditChannel ? 'Speichern' : 'Bearbeiten' }}</a>
            </div>
        </div>
    </div>
    <div class="description-and-created-by">
        <input class="df_fdc_jcsb description-container" #channelDescription="ngModel" [(ngModel)]="data.channelDescription" [disabled]="!openDescriptionChannel"
        [ngClass]="startPositionDescription ? 'description-container' : (openDescriptionChannel ? 'animation-descr-inputf-in' : 'animation-descr-inputf-out')">
            <div class="df_fdc_jcsb description">
                <div class="df_fd_r_aic_jcsb name-container"
                [ngClass]="startPositionDescription ? 'name-container' : (openDescriptionChannel ? 'animation-edit-channel-in' : 'animation-edit-channel-out')">
                    <h3>Beschreibung</h3>
                    <div class="df_jcc_aic to-work-container">
                        <a href="" (click)="editChannelDescription($event)">{{ openDescriptionChannel ? 'Speichern' : 'Bearbeiten' }}</a>
                    </div>
                </div>
                <!-- <div class="description-content">
                    <p>{{ data.channelDescription }}</p>
                </div> -->
            </div>
            <div class="line-container">
                <div class="line"></div>
            </div>
            <div class="df_fdc_jcsb created-by">
                <h3>Erstellt von</h3>
                <h4>{{ channelCreatedBy }}</h4>    
            </div>
    </div>
    <div class="button-position">
        <button mat-dialog-close (click)="closeEdit()">Channel verlassen</button>
    </div>
</div>