<div class="choose-avatar-wrapper">
  <mat-card appearance="outlined">
    <mat-card-content class="column">
      <h1>Wähle deinen Avatar</h1>
      <img class="avatar" src= {{user.picture}}  alt="User Avatar">
      <h2> {{user.name}} </h2>
      <p>Aus der Liste wählen</p>
      <div class="row">
        <img class="choose-avatar" (click)="takeAvatar(i)" *ngFor="let avatar of avatars; index as i" src={{avatar}} alt="User Avatar">
      </div>

      <button mat-flat-button (click)="saveAvatar()">Weiter</button>

    </mat-card-content>
  </mat-card>
</div>


//

