<!-- Impressum Component HTML -->
<div class="impressum-page">
  <div class="top-left-logo">
    <img src="/img/LogoNoText.png" alt="Logo" class="final-logo" />
    <span class="final-text">DABubble</span>
  </div>

  <mat-card class="impressum-card">
    <!-- Back Arrow, klickbar, navigiert zurück zur SignIn-Komponente -->
    <div class="back-arrow" routerLink="/login">
      <img src="/img/arrow-back.svg" alt="Back" />
    </div>

    <div class="impressum-content">
      <h2 class="impressum-title">Impressum</h2>
      <p class="impressum-name">Florian Zunke, Alexander</p>
      <p class="impressum-address">Street Address 123</p>
      <p class="impressum-location">12345 City</p>

      <div class="spacer"></div>

      <h2 class="contact-title">Contact:</h2>
      <p class="contact-email">Email: info.com</p>
    </div>
  </mat-card>
</div>
