.signed-in-user-container {
    height: 4.375rem;
    width: 21.375rem;
    width: 30.625rem;
}

h3 {
    // font-family: Nunito;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 1.25rem 0 0;
    color: #000000;
}

.sign-in-user-icon {
    height: 4.375rem;
    width: 4.375rem;
}

.arrow-down-icon {
    height: 1.875rem;
    width: 1.875rem;
    padding: 1.25rem 0 1.25rem 1.25rem;
    cursor: pointer;
}