@import "../../../../styles.scss";

.signed-in-user-container {
  position: relative;
    height: 4.375rem;
    width: 21.375rem;
    width: 30.625rem;
}

h3 {
    font-family: 'nunito';
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0 1.25rem 0 0;
    color: #000000;
}

.sign-in-user-icon {
    height: 4.375rem;
    width: 4.375rem;
}

.arrow-down-icon {
    height: 1.875rem;
    width: 1.875rem;
    padding: 1.25rem 0 1.25rem 1.25rem;
    cursor: pointer;
}

.online-dot {
  position: absolute;
  bottom: 0;
  right: 3.2rem;
  width: 1.063rem;
  height: 1.063rem;
  border-radius: 100%;
  border: 0.063rem solid $bgcolor ;
}
