<div *ngIf="logedUser" class="signed-in-user-container">
  <div class="user-name">
    <h3>{{ logedUser.name }}</h3>
  </div>
  <img
    (click)="openDialogMobile($event)"
    class="sign-in-user-icon"
    [src]="logedUser.picture"
    alt="sign in user icon"
  />
  <img
    (click)="openDialog($event)"
    class="arrow-down-icon"
    src="img/keyboard_arrow_down.png"
  />
  <img
    class="online-dot"
    [src]="
      logedUser.online ? 'img/user_online_dot.svg' : 'img/user_away_dot.svg'
    "
    alt=""
  />
</div>
