@import '../../../styles.scss';
@import '../../../mixins.scss';

main {
    height: 37.5rem;
    max-width: 31.25rem;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
}

.top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}