<main>
    <div class="top-area">
        <h2 >Profil</h2>
        <div mat-dialog-close class="close-x-wrapper"> </div>
    </div>

    <div>
        <img src="{{ logedUser.picture }}" alt="das Profilbild">
    </div>

    <div>
      <div>
        <h3>{{ logedUser.name }}</h3>
        <span (click)="openEditProfilDialog($event)">Bearbeiten</span>
      </div>

        <div *ngIf="logedUser.online else awayBlock">
          <img src="img/user_online_dot.svg" alt="Status point">
          <span class="online-status-online">Aktiv</span>
        </div>
        <ng-template #awayBlock>
          <img src="img/user_away_dot.svg" alt="Status point">
          <span>Abwesend</span>
        </ng-template>


        <h4><img src="img/email_icon.svg" alt="">E-Mail-Adresse</h4>
        <a href="">{{ logedUser.email }}</a>
    </div>
</main>
