<div class="crate-accout-wrapper">

  <mat-card appearance="outlined" >
    <mat-card-content class="column">
      <h1>Konto erstellen</h1>
      <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

      <mat-form-field class="example-full-width">
        <mat-label>Name und Nachname</mat-label>
        <input matInput placeholder="Peter Parker">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Besipeilsemail&#64;bla.de</mat-label>
        <input matInput placeholder="peter@spider.net">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Passwort</mat-label>
        <input type="password" matInput placeholder="pssst ... gehmein">
      </mat-form-field>

      <div>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <span> Ich stimme den <a href="">Datenschutzbestimmungen zu</a>
        </span>
      </div>

      <button mat-flat-button>Weiter</button>

    </mat-card-content>
  </mat-card>

</div>
