<div class="crate-accout-wrapper">
  <mat-card appearance="outlined">
    <mat-card-content class="column">
      <div (click)="goBack()" class="go-back-wrapper"></div>

      <h1>Konto erstellen</h1>
      <p>
        Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
        DABubble-Konto.
      </p>

      <form #myForm="ngForm" (ngSubmit)="onSubmit()" class="column">
        <!-- <mat-form-field class="">
          <mat-label>Name und Nachname</mat-label>
          <input
            name="name"
            required
            [(ngModel)]="newUser.name"
            matInput
            placeholder="Name und Nachname"
          />
        </mat-form-field> -->
        <input
          required
          name="name"
          type="text"
          id="fname"
          [(ngModel)]="newUser.name"
          matInput
          placeholder="Name und Nachname"
        /><br /><br />

        <mat-form-field class="example-full-width">
          <mat-label>Besipeilsemail&#64;bla.de</mat-label>
          <input
            name="email"
            type="email"
            required
            pattern="(?!.*\.\.)[\-A-Za-z0-9_][\-A-Za-z0-9_\.]+[\-A-Za-z0-9]@[\-A-Za-z0-9][\-A-Za-z0-9_]+\.[A-Za-z]{2,4}"
            [(ngModel)]="newUser.email"
            matInput
            placeholder="peter@spider.net"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Passwort</mat-label>
          <input
            name="password"
            [(ngModel)]="newUser.password"
            required
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s])[A-Za-z\d\W]{8,}$"
            type="password"
            matInput
            placeholder="pssst ... gehmein"
          />
        </mat-form-field>

        <div>
          <mat-checkbox
            [(ngModel)]="accepted"
            name="accepted"
            class="font-open-sans"
          ></mat-checkbox>
          <span class="font-open-sans"
            >Ich stimme den <a href="">Datenschutzbestimmungen</a> zu</span
          >
        </div>

        <button
          mat-flat-button
          type="submit"
          [disabled]="!myForm.valid || !accepted"
        >
          Weiter
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
