@import '../../styles.scss';

.crate-accout-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(236, 238, 254, 1);
}

h1 {
  padding-top: 24px;
  color: $buttonColor;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 120%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.go-back-wrapper {
  position: absolute;
  top: 46px;
  left: 32px;
  width: 40px;
  height: 40px;
  background-image: url(../../../public/icons/arrow-back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  &:hover {
    cursor: pointer;
    background-image: url(../../../public/icons/arrow-back-hover.svg);
    background-size: 16px 16px;
    background-color: $bgcolor;
    border-radius: 100%
    ;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
