<div class="df_fd_c message-box">
    <div class="header">
        <div class="df_fd_c gap-20">
            <div class="title">Neue Nachricht</div>
            <input type="search" Placeholder="An: #channel oder @jemand oder E-Mail Adresse" (input)="searchUserorChannel($event)">
            <div *ngIf="searchResults.length > 0" class="search-results">
              <ul>
                <li *ngFor="let item of searchResults">
                  <strong>&#64;{{ item.name }} / {{ item.channelName }}</strong>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <div class="content"></div>
    <div class="main-message-box">
        <div class="df_fd_r_jcsb toolbar">
            <div class="df_fd_r">
                <img class="icon" src="/icons/add_reaction.png" alt="smiley icon">
                <img class="icon" src="/icons/alternate_email.png" alt="@ icon">
            </div>
            <img class="icon" src="/icons/send_icon.png" alt="submit icon">
        </div>
        <textarea placeholder="Starte eine neue Nachricht"></textarea>
    </div>
</div>
