@import "../../../../styles.scss";

.sidebar-devspace {
    height: 58.75rem;
    width: 22.875rem;
    border-radius: 1.875rem;
    padding: 2rem 1.875rem 0 1.875rem;
    gap: 1.563rem;
    margin-right: 1.563rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.devspace-container {
    height: 3.75rem;
    width: 19.125rem;
}

.devspace-icon {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
}

.title {
    height: 3.75rem;
    width: 11.875rem;
    padding: 0.84375rem 1.25rem 0.84375rem 0.9375rem;
    font-family: 'nunito';
    font-size: 1.5rem;
    font-weight: 700;
    box-sizing: border-box;
}

.edit-icon-container {
    height: 3.75rem;
    width: 3.5rem;
    padding: 0.625rem 0 0.625rem 1.25rem;
    box-sizing: border-box;
}

.edit-icon {
    &:hover {
        content: url('/icons/edit_icon_hover.png');
    }
}

.hover-icon-container {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.final-menu {
    height: 100%;
    width: 19.125rem;
}

.channel-menu, .direct-message-menu {
    height: 100%;
    width: 100%;
}

.channel-menu-header, .direct-message-header {
    height: 2.875rem;
}

.channel-menu-hover-area, .direct-message-hover-area {
    height: 2.5rem;
    width: 11rem;
    padding: 0.40625rem 0.625rem 0.40625rem 0;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        color: #535AF1;
        .arrow-down-icon {
            &[src='icons/arrow_right.png'] {
                content: url('/icons/arrow_right_hover.png');
            }

            &[src='icons/arrow_drop_down.png'] {
                content: url('/icons/arrow_drop_down_hover.png');
            }
        }
    }
}

.channel-menu-hover-area {
    &:hover .workspaces {
        content: url('/icons/workspaces_hover.png');
    }
}

.direct-message-header {
    &:hover .account_circle {
        content: url('/icons/account_circle_hover.png');
    }
}

.channels {
    width: 100%;
}

.channel {
    width: max-content;
    height: 2.0625rem;
    margin: 0 0 0 1.5625rem;
    padding: 0 1.25rem 0 1.25rem;
    gap: 0.625rem;
    box-sizing: border-box;
    border-radius: 1.03125rem;
    cursor: pointer;

    &:hover {
        background-color: rgb(236,238,254);
    }

    &:hover .tag-icon {
        content: url('/icons/tag_hover.png');
    }
}

.direct-message-hover-area {
    width: 15.875rem;
}

.title-channel-menu, .title-direct-message {
    height: 1.6875rem;
    width: 7.5625rem;
    margin-left: 0.9375rem;
    gap: 0.625rem;
}

.title-direct-message {
    width: 12.4375rem;
}

.gap-25 {
    gap: 1.5625rem;
}

.arrow-down-icon {
    height: 1.875rem;
    width: 1.875rem;
}

.icon-size, .add-circle-icon, .workspaces, .account_circle, .tag-icon {
    height: 1.5rem;
    width: 1.5rem;
}

h4 {
    font-family: 'nunito';
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
}

h5 {
    font-family: 'nunito';
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

h6 {
    font-family: 'nunito';
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 0 0 0.9375rem;
}

.user-channel-container {
    height: 3.625rem;
    width: 100%;
}

.user-channel {
  position: relative;
    width: max-content;
    height: 100%;
    margin: 0 0 0.8125rem 1.5625rem;
    padding: 0 1.25rem 0 1.25rem;
    box-sizing: border-box;
    border-radius: 1.8125rem;
    cursor: pointer;

    &:hover {
        background-color: rgb(236,238,254);
    }

    &.last-user {
        margin: 0 0 0 1.5625rem;
      }
}

.user-channel.active {
    background-color: rgb(236,238,254);
    color: #535AF1;

    h6 {
        font-weight: 700;
    }
}

.channel.active {
    background-color: rgb(236,238,254);
    color: #535AF1;

    h4 {
        font-weight: 700;
    }

    .tag-icon {
        &[src='icons/tag.png'] {
            content: url('/icons/tag_hover.png');
        }
    }
}

.picture-size {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
}

.add-icon {
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;

    &:hover {
        content: url('/icons/add_hover.png');
    }
}

.add-channel-container {
    margin: 1.5625rem 0;
    height: 2.0625rem;
    width: 100%;
}

.add-channel {
    width: 13.5rem;
    margin-left: 2.1875rem;
    padding: 0.28125rem 0 0.28125rem 0;
    box-sizing: border-box;
    gap: 0.625rem;
    cursor: pointer;

    &:hover {
        color: #535AF1;

        &:hover .add-circle-icon {
            content: url('/icons/add_circle_hover.png');
        }
    }
}

.gap-13 {
    margin-bottom: 0.8125rem;
}

.online-dot {
  position: absolute;
  bottom: 0;
  left: 3.5rem;
  width: 1.063rem;
  height: 1.063rem;
  border-radius: 100%;
  border: 0.063rem solid $bgcolor ;
}
