<div class="sidebar-devspace" *ngIf="dataService.sidebarDevspaceIsVisible">
    <div class="df_fd_c gap-25">
        <div class="df_fd_r devspace-container">
            <img class="devspace-icon" src="img/logo_devspace.png" alt="Devspace logo">
            <div class="title">Devspace</div>
            <div class="edit-icon-container">
                <div class="hover-icon-container">
                    <img class="edit-icon" (click)="openNewMessage()" src="icons/edit_icon.png" alt="edit icon">
                </div>
            </div>
        </div>
        <div class="final-menu">
            <div class="df_fd_c channel-menu gap-25">
                <div class="df_fd_r_aic_jcsb channel-menu-header">
                    <div class="df_fd_r_aic channel-menu-hover-area" (click)="toggleChannel()">
                        <img class="arrow-down-icon" [src]="dataService.channelMenuIsHidden ? 'icons/arrow_right.png' : 'icons/arrow_drop_down.png'" alt="arrow icon">
                        <div class="df_fd_r_aic title-channel-menu">
                            <img class="workspaces" src="icons/workspaces.png" alt="Channel logo">
                            <h5>Channels</h5>
                        </div>
                    </div>
                    <img (click)="openDialog()" class="add-icon" src="icons/add.png" alt="Add icon">
                </div>
                <div id="channel">
                    <div class="channels">
                        <div class="df_fd_r_aic channel" *ngFor="let ch of dataService.channel; let i = index" (click)="openChannelMessage(i);setChannelActive(i)" 
                        [ngClass]="{'gap-13': ch !== dataService.channel[dataService.channel.length - 1]}" [class.active]="i === activeChannelIndex">
                            <img class="tag-icon" src="icons/tag.png" alt="# icon">
                            <h4>{{ ch }}</h4>
                        </div>
                    </div>
                    <div class="add-channel-container">
                        <div class="df_jcc_aic add-channel">
                            <img class="add-circle-icon" src="icons/add_circle.png" alt="Add circle icon">
                            <h4>Channel hinzufügen</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="df_fd_c direct-message-menu gap-25">
                <div class="df_fd_r_aic direct-message-header">
                    <div class="df_fd_r_aic direct-message-hover-area" (click)="toggleUserChannel()">
                        <img class="arrow-down-icon" [src]="dataService.directMessageMenuIsHidden ? 'icons/arrow_right.png' : 'icons/arrow_drop_down.png'" alt="arrow icon">
                        <div class="df_fd_r_aic title-direct-message">
                            <img class="account_circle" src="icons/account_circle.png" alt="Benutzerkonto logo">
                            <h5>Direktnachrichten</h5>
                        </div>
                    </div>
                </div>            
                <div class="df_jcc user-channel-container" id="user-channel">
                    <div *ngFor="let user of dataService.users; let i = index" class="df_fd_r_aic user-channel" [class.active]="i === activeUserIndex" 
                    (click)="openDirectMessage(i);setUserActive(i)" [ngClass]="{'last-user': i === dataService.users.length - 1}">                 
                        <img class="picture-size" src="img/avatar/{{ user.picture }}.png" alt="user-channel">
                        <h6>{{ user.name }}</h6>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>

 <!-- CODE von Florian -->
<!-- <div class="sidebar-devspace">
    <div>
        <h2>Channels</h2>
        <button (click)="openDialog()">+</button>
    </div>

    @for (channel of channels; track channel; let index = $index) {
        <div>
            <button (click)="selectChannel(channel.id)">{{ channel.channelName }}</button>
        </div>
    }
</div> -->