.sidebar-devspace {
    height: 100%;
    width: 22.875rem;
    border-radius: 1.875rem;
    padding: 2rem 1.875rem 2rem 1.875rem;
    gap: 1.563rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
}