.overlay-content {
  width: 100%;
  gap: 1.25rem;
  padding: 2.5rem 2.5rem 4.0625rem 2.5rem;
  box-sizing: border-box;
}

.header {
    height: 2.5rem;
}

.channel {
  height: 100%;
  vertical-align: top;
}

p, h2, h3 {
  margin: 0;
  font-family: "nunito";
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  min-height: 3.125rem;
  font-size: 1.125rem;
  font-weight: 400;
}

h3 {
  font-size: 1.125rem;  
}

.close-container {
    width: 2.5rem;
    height: 2.5rem;
}

.close-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.313rem;
    box-sizing: border-box;
    cursor: pointer;
}

.channel-name {
    height: 6.563rem;
}

.description {
    height: 6.875rem;
}

input {
    font-family: "nunito";
    font-size: 1.125rem;
    font-weight: 400;
    padding: 1.25rem;
    box-sizing: border-box;
    border: 1px solid #686868;
}

.button-position {
    display: flex;
    justify-content: flex-end;
}