<div class="df_fd_c overlay-content">
    <div class="df_fd_r_aic_jcsb header">
        <div class="channel">
            <h2>Channel erstellen</h2>
        </div>
        <div class="df_jcc_aic close-container">
            <img mat-dialog-close class="close-icon" src="/icons/close_x_icon.svg" alt="close icon">
        </div>
    </div>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.</p>
    <div class="df_fd_c_ais_jcsb channel-name">
        <h3>Channel-Name</h3>
        <input #channelName="ngModel" [(ngModel)]="channel.channelName" placeholder="# z.B Kooperationsprojekte" required>
    </div>
    <div class="df_fd_c_ais_jcsb description">
        <div class="df_fd_r">
            <h3>Beschreibung&nbsp;</h3>
            <p>(optional)</p>
        </div>
        <input #channelDescription="ngModel" [(ngModel)]="channel.channelDescription" placeholder="Dein Text hier" required>
    </div>
    <div class="button-position">
        <button mat-dialog-close (click)="addChannel()" [disabled]="channelName.invalid">Erstellen</button>
        <button mat-dialog-close (click)="openAddAllUsers()" >Overlay Leute hinzufügen</button>
    </div>
</div>