@import '../../../styles.scss';
@import '../../../mixins.scss';


.top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-content {
    width: 54.5rem;
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

    >div {
        width: 100%;
    }
}

h2 {
    padding: 0;
    margin: 0;
}