@import '../../../mixins.scss';
@import '../../../styles.scss';


.top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-content {
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >div {
        width: 100%;
    }
}

.button-position {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}