<div class="overlay-content">
    <div class="top-area">
        <h2>Channel erstellen</h2>
        <span mat-dialog-close>X</span>
    </div>

    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
        Beispiel</p>

    <div>
        <h3>Channel-Name</h3>
        <input #channelName="ngModel" [(ngModel)]="channel.channelName" required placeholder="# z.B Kooperationsprojekte">
        <div *ngIf="channelName.invalid && channelName.touched">
            Bitte einen Channel-Namen eingeben!
        </div>

        <h3>Beschreibung <span>(optional)</span></h3>
        <input placeholder="Dein Text hier">
    </div>
    <div>
        <button mat-dialog-close (click)="addChannel()" [disabled]="channelName.invalid">Erstellen</button>
    </div>
</div>