@import "../../../../styles.scss";

.overlay-content {
  height: 100%;
  width: 100%;
  gap: 20px;
  padding: 2.5rem;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(250, 249, 253);
}

.header {
  height: 2.5rem;
  width: 100%;
}

.name {
  vertical-align: middle;
}

h2 {
  margin: 0;
  font-family: "nunito";
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-family: "nunito";
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h6 {
  max-width: 110px;
  font-family: "nunito";
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 0 0 0.9375rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;

    .close-icon {
      filter: brightness(0) saturate(100%) invert(39%) sepia(62%)
        saturate(4751%) hue-rotate(227deg) brightness(95%) contrast(99%);
    }
  }
}

.close-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.313rem;
  box-sizing: border-box;
  cursor: pointer;
}

.select-members {
  height: 4.375rem;
  width: 100%;
}

.button-position {
  display: flex;
  justify-content: flex-end;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  font-family: "nunito";
  font-weight: 400;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  width: 100%;

  span {
    color: #535af1;
  }
}

.text {
  word-wrap: break-word;
  white-space: normal;
}

.radio-button {
  opacity: 0;
  position: absolute;
  margin: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.custom-radio {
  min-width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.3s ease;
  border-color: #535af1;
}

.custom-radio::after {
  content: "";
  position: absolute;
  min-width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #535af1;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.radio-button:checked + .custom-radio::after {
  transform: translate(-50%, -50%) scale(1);
}

.radio-button:focus + .custom-radio {
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.3);
  outline: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.radio-button:checked + .custom-radio {
  animation: pulse 0.4s ease-out;
}

.input-container {
  position: relative;
  width: 100%;
}

input {
  height: 3.75rem;
  border-radius: 1.25rem;
  background-color: #faf9fd;
  border: 1px solid #686868;
  padding: 1.25rem;
  box-sizing: border-box;
  font-family: "nunito";
  font-size: 1.125rem;
  font-weight: 400;
  color: black;

  &:focus {
    outline: 0px solid #535af1;
    border: 1px solid #535af1;
  }
}

.usermenu {
  position: fixed;
  padding-top: 0.8125rem;
  width: 16.25rem;
  max-height: 15.625rem;
  z-index: 10;
  margin-top: 13.75rem;
  margin-left: 1.875rem;
  background-color: #faf9fd;
  border: 1px solid #686868;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  overflow-y: scroll;
}

.user-channel {
  position: relative;
  width: min-content;
  max-width: 16.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.8125rem 0.8125rem 0.8125rem;
  padding: 0 1.25rem 0 1.25rem;
  box-sizing: border-box;
  border-radius: 1.8125rem;
  cursor: pointer;

  &.last-user {
    margin: 0 0 0 1.5625rem;
  }

  &:hover {
    background-color: rgb(236, 238, 254);
  }
}

.picture-size {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
}

.online-dot-users {
  position: absolute !important;
  bottom: 0;
  left: 3.5rem;
  width: 1.063rem;
  height: 1.063rem;
  border-radius: 100%;
  border: 0.063rem solid $bgcolor;
}

::-webkit-scrollbar-track {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  background: transparent;
}

.d-hidden {
  visibility: hidden;
}

.close-menu {
  position: absolute;
  z-index: 20;
  top: 0.5rem;
  right: 0.35rem;
}

.selectedUserContainer {
  max-width: 630px;
  padding: 0.375rem 0.5rem;
  box-sizing: border-box;
  border-radius: 1.25rem;
  background-color: #faf9fd;
  border: 1px solid #686868;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.selectUser {
  height: 100%;
  max-width: 12.5rem;
  background-color: rgb(236, 238, 254);
  border-top-right-radius: 1.5rem;
  border-radius: 1.5rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  gap: 0.5rem;
}

.user-icon {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
}

.members-and-plus {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .member-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .extra {
    font-weight: 700;
    font-size: 0.9rem;
  }

  .add-user-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 799px) {
  ::ng-deep .mat-mdc-dialog-surface {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media only screen and (max-width: 500px) {
  .members-and-plus {
    gap: 0.25rem;
  }

  .extra {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 440px) {
  .members-and-plus {
    gap: 0;
  }
}

@media only screen and (max-width: 425px) {
  .member-icon {
    margin-left: -0.5rem;
  }

  .overlay-content {
    padding: 2rem;
  }
}

@media only screen and (max-width: 390px) {
  .usermenu {
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
  }
}

@media only screen and (max-width: 400px) {
  .member-icon {
    margin-left: -1rem;
  }

  .extra {
    margin-left: 0.3rem;
  }

  input {
    padding: 1.25rem 1rem;
  }

  .members-and-plus {
    right: 0.75rem;
  }
}

@media only screen and (max-width: 360px) {
  input {
    font-size: 1rem;
  }

  .overlay-content {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .usermenu {
    width: 15.75rem;
  }
}
