@import "../../../mixins.scss";

.header {
    @include dFlex($jc: space-between);
    max-height: 7.188rem;
    height: 100%;
    width: 100%;
    padding: 1.563rem 1.563rem;
    box-sizing: border-box;
}

.logo-searchbar-container {
    width: 100%; 
}