.logo-and-searchbar-container {
    gap: 11.188rem;
    max-width: 84.375rem;
}

.logo-container {
    height: 4.375rem;
    width: 15.125rem;
    background-color: white;
}

.searchbar {
    height: 4.375rem;
    width: 100%;
    border-radius: 2.1875rem;
    background-color: white;
}

