<div class="df_fd_r logo-and-searchbar-container">
    <img src="img/logo.png" alt="logo">
    <div class="searchbar">
      <input #searchInput type="text" placeholder="Devspace durchsuchen" (input)="onSearch($event)">
      <div class="search-icon-wrapper"></div>
      <div *ngIf="searchResults.length || searchResultsUser.length || searchResultsEmail.length || searchResultsChannels.length > 0" class="search-results">
        <ul>
          <li *ngFor="let result of searchResults">
            <strong>{{ result.user}}:</strong> <br>
            {{ result.content }}
          </li>
          <li *ngFor="let user of searchResultsEmail">
            <strong>{{ user.email }}</strong>
          </li>
          <li *ngFor="let user of searchResultsUser">
            <strong>&#64;{{ user.name }}</strong>
          </li>
          <li *ngFor="let item of searchResultsChannels" (click)="selectChannel(item, searchInput)">
            <strong>#{{ item.channelName }}</strong>
          </li>
        </ul>
      </div>
    </div>
</div>
