<div #searchContainer class="logo-and-searchbar-container">
    <img src="img/logo.png" alt="logo" (click)="toggleService.showSidebar()">
    <div class="searchbar">
      <input #searchInput type="text" placeholder="Devspace durchsuchen" (focus)="searchActiv = true" (input)="onSearch($event)">
      <div class="search-icon-wrapper"></div>
      <div *ngIf="searchResults.length || searchResultsUser.length || searchResultsEmail.length || searchResultsChannels.length > 0" class="search-results">
        <ul>
          <li *ngFor="let result of searchResults, let i = index" (click)="selectResult(result, searchInput)">
            <strong>{{ result.sender.name}}:</strong> <br>
            {{ result.text }}
          </li>
          <li *ngFor="let user of searchResultsEmail" (click)="selectUser(user, searchInput)">
            <strong>{{ user.email }}</strong>
          </li>
          <li *ngFor="let user of searchResultsUser" (click)="selectUser(user, searchInput)">
            <strong>&#64;{{ user.name }}</strong>
          </li>
          <li *ngFor="let item of searchResultsChannels" (click)="selectChannel(item, searchInput)">
            <strong>#{{ item.channelName }}</strong>
          </li>
        </ul>
      </div>
    </div>
</div>
