@import "../../../../styles.scss";

.logo-and-searchbar-container {
  gap: 7.4375rem;
  height: 4.375rem;
  max-width: 84.375rem;
}

img {
  height: 100%;
  width: 15.125rem;
  object-fit: contain;
}

.searchbar {
  position: relative;
}

input {
  width: 61.813rem;
  height: 100%;
}

.search-icon-wrapper {
  position: absolute;
  top: 1.3rem;
  right: 2.813rem;
  width:2.188rem;
  height: 2.188rem;
  background-image: url('../../../../../public/icons/serach-icon.svg');
  background-size: 1.625rem 1.625rem;
  background-repeat: no-repeat;
}

input {
  padding-left: 2.813rem;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

input::placeholder {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  height: 2.063rem;
}

input:focus {
  outline: 0.063rem solid $purpleThree;
}
