<div class="sidebar-thread" *ngIf="dataService.sidebarThreadIsVisible">
    <div class="df_fd_r_jcsb header">
        <div class="df_fd_r_aic">
            <h1>Thread</h1>
            <img class="tag-icon" src="/icons/tag_light.png" alt="Tag logo">
             <h2>{{ dataService.displayChannelName }}</h2>
        </div>
        <img class="close-icon" (click)="closeThreadDialog()" src="/icons/thread_close_icon.png" alt="Close icon">
    </div>
    <div class="content">
        
    </div>
    <app-textarea
        [mainMessageBoxPadding]="'2.5rem 1.25rem 2.5rem 1.25rem'" 
        [toolbarWidth]="'calc(100% - 5rem)'" placeholder="Antworten ...">
    </app-textarea>
</div>