@use "../../../styles" as *;

.set-new-password-page {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  background-color: $bgcolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top-left-logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
  }
  .final-logo {
    width: 90px;
    margin-right: 0.5rem;
  }
  .final-text {
    font-size: 1.2rem;
    color: $black;
  }
}

.set-new-password-card {
  width: 500px;
  max-width: 90vw;
  padding: 2rem;
  background: $white;
  border-radius: 32px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;

  .headline {
    color: $purpleThree;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .instruction {
    color: $textcolor;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 0 auto 1.5rem;
    position: relative;
  }

  input {
    width: 100%;
    height: 3.75rem;
    border: none;
    background-color: $bgcolor;
    color: $textcolor;
    border-radius: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: 0.063rem solid $purpleThree;
    }
    &::placeholder {
      font-family: "Nunito";
      font-weight: 500;
      font-size: 1.125rem;
    }
  }

  .error-text {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    text-align: left;
  }

  .submit-btn {
    width: 100%;
    max-width: 16rem;
    height: 3.2rem;
    border: none;
    border-radius: 2rem;
    font-family: "Nunito";
    font-weight: 500;
    font-size: 1.125rem;
    color: white;
    background-color: darkgray;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .submit-btn:enabled {
    background-color: rgb(89, 97, 243);
  }
}

.set-new-password-footer {
  text-align: center;
  margin-top: 2rem;
  a {
    color: $ChatColor;
    margin: 0 0.5rem;
    text-decoration: none;
  }
}

h1,
h2,
p,
span,
a,
input::placeholder,
input:focus {
  font-family: "Nunito";
}
