<!-- Set New Password Component HTML -->
<div class="set-new-password-page">
  <!-- Oben links: DABubble Logo -->
  <div class="top-left-logo">
    <img src="img/LogoNoText.png" alt="Logo" class="final-logo" />
    <span class="final-text">DABubble</span>
  </div>

  <!-- Weißer Container -->
  <mat-card class="set-new-password-card">
    <h2 class="headline">Passwort zurücksetzen</h2>
    <p class="instruction">Bitte geben Sie Ihr neues Passwort ein.</p>
    <form [formGroup]="newPassForm" (ngSubmit)="onSubmitNewPass()">
      <div class="input-wrapper">
        <input
          type="password"
          placeholder="Neues Passwort"
          formControlName="newPassword"
        />
        <div
          class="error-text"
          *ngIf="
            newPassForm.get('newPassword')?.invalid &&
            (newPassForm.get('newPassword')?.touched || submitted)
          "
        >
          Mindestens 8 Zeichen, ein Großbuchstabe und ein Sonderzeichen.
        </div>
      </div>
      <div class="input-wrapper">
        <input
          type="password"
          placeholder="Neues Passwort bestätigen"
          formControlName="confirmPassword"
        />
        <div
          class="error-text"
          *ngIf="
            newPassForm.hasError('mismatch') &&
            (newPassForm.get('confirmPassword')?.touched || submitted)
          "
        >
          Die Passwörter stimmen nicht überein.
        </div>
      </div>
      <button class="submit-btn" type="submit" [disabled]="newPassForm.invalid">
        Passwort ändern
      </button>
    </form>
  </mat-card>

  <!-- Footer -->
  <footer class="set-new-password-footer">
    <a routerLink="/impressum">Impressum</a>
    <a routerLink="/datenschutz">Datenschutz</a>
  </footer>
</div>
