body {
    margin: 0;
    padding: 0;
}

.bg-color {
    background-color: rgb(236,238,254);
}

h1 {
    font-size: 2.556rem;
}

h2{
    font-size: 2.111rem;
}

h3 {
    font-size: 1.778rem;
}

h4 {
    font-size: 1.444rem;
}

h5 {
    font-size: 1.222rem;
}

h6 {
    font-size: 1rem;    
}

.screen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.df_fd_r {
    display: flex;
    flex-direction: row;
}

.df_fd_c {
    display: flex;
    flex-direction: column;
}